@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Miama';
    src: url('fonts/Miama.ttf') format('truetype');
}


*{
    margin: 0;
    padding: 0;
}
.body_class{
    color: white;
    background-color: black;
    font-family: "Inter", sans-serif;
}




/* common style */
:root{
    --primary-color: white;
    --secondary-color: rgb(230, 83, 60);
    --primary-shade-color: rgba(255, 255, 255, 0.1);
    --secondary-shade-color: rgb(34, 34, 34);
    --text-shade-color:  rgba(255, 255, 255, 0.5);
}
nav ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
section{
    margin: 40px 140px;
}
p{
    font-size: 14px;
    color: var(--text-shade-color);
    padding: 20px 0;
}
section h1{
    font-size: 48px;
}
.btn{
    width: 200px;
    font-size: 18px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 35px;
    padding: 15px;
    cursor: pointer;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}












/* banner part */
.banner{
    background-image: linear-gradient(to bottom, #121212 10%, #232323 45%, #1B1B1B 65%, #000000 89%);
    /* background-image: linear-gradient(to bottom, #121212, #232323, #000000); */
}
.banner .banner_header{
    padding: 40px 140px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner_header .banner_title{
    color: var(--secondary-color);
}
.banner .banner_header .banner_menubar{
    border: 1px solid black;
    border-radius: 35px;
    padding: 2px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.banner .banner_header .banner_menubar li{
    border-radius: 35px;
    padding: 5px 15px;
}
.banner .banner_header .banner_menubar li:hover{
    background-color: var(--secondary-color);
}
.banner .banner_header .dropdown .dropdown_btn{
    display: none;
}



.banner .banner_container_items{
    padding: 30px 140px;
    display: flex;
    justify-content: space-between;
}
.banner .banner_container_items .banner_container1{
    margin: 50px 0;
    width: 45%;
}
.banner .banner_container_items .banner_container1 .banner_container_title{
    font-size: 70px;
    line-height: 105%;
}
.banner .banner_container_items .banner_container1 .banner_container_title #text_shape{
    font-family: 'Miama', sans-serif;
    font-weight: normal;
    font-size: 135px;
}
.banner .banner_container_items .banner_container1 .banner_description{
    color: var(--text-shade-color);
    font-size: 16px;
    padding: 20px 0;
}
.banner .banner_container_items .banner_container1 .banner_btn1{
    background-color: var(--secondary-color);
    margin-right: 10px;
}
.banner .banner_container_items .banner_container1 .banner_btn2{
    background-color: black;
    border: 1px solid white;
}


.banner .banner_container_items .banner_container2{
    width: 32%;
}
.banner .banner_container_items .banner_container2 img{
    height: 520px;
}
.banner .banner_container_items .banner_container2 .content_over_img{
    width: 140px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
}
.banner .banner_container_items .banner_container2 .content_over_img p{
    padding: 0;
    color: rgba(255, 255, 255, 0.65);
}
.banner .banner_container_items .banner_container2 .img_bottom_content .circle{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--secondary-color);
    position: relative;
}
.banner .banner_container_items .banner_container2 .img_bottom_content .circle .fa{
    color: var(--primary-color);
    position: absolute;
    top: 22%;
    left: 35%;
}
.banner .banner_container_items .banner_container2 .img_top_content{
    position: absolute;
    top: 220px;
    right: 95px;
}
.banner .banner_container_items .banner_container2 .img_top_content p{
    font-size: 13px;
}
.banner .banner_container_items .banner_container2 .img_bottom_content{
    position: absolute;
    top: 490px;
    right: 370px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
    .banner{
        padding: 40px 10px 0;
    }
    .banner .banner_header{
        padding: 0;
    }
    .banner .banner_header .dropdown .dropdown_btn{
        display: inline;
        font-size: 18px;
        background-color: #121212;
        border: none;
        cursor: pointer;
    }
    .banner .banner_header .dropdown .dropdown_btn i{
        color: white;
    }
    .banner .banner_header .dropdown .banner_menubar{
        padding: 2px;
        width: 90px;
        flex-direction: column;
        border-radius: 0;
        position: absolute;
        /* display: none; */
    }
    .dropdown:hover .banner_menubar{
        display: block;
        background-color: var(--secondary-color);
        right: 8px;
        text-align: center;
    }


    .banner .banner_container_items{
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .banner .banner_container_items .banner_container1{
        width: 90%;
    }
    .banner .banner_container_items .banner_container1 .banner_container_title{
        font-size: 40px;
        width: 60%;
    }
    .banner .banner_container_items .banner_container1 .banner_description{
        width: 70%;
    }
    .banner .banner_container_items .banner_container1 .banner_container_title #text_shape{
        font-size: 75px;
    }
    .banner .banner_container_items .banner_container1 .banner_btn1 #hide_btn_text{
        display: none;
    }


    .banner .banner_container_items .banner_container2{
        width: 80%;
    }
    .banner .banner_container_items .banner_container2 img{
        padding-left: 30px;
    }
    .banner .banner_container_items .banner_container2 .img_top_content{
        top: 500px;
        right: 170px;
    }
    .banner .banner_container_items .banner_container2 .img_bottom_content{
        top: 700px;
        left: 40px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px){
    .banner{
        padding: 40px 60px 0;
        background-image: linear-gradient(to bottom, #121212 10%, #232323 45%, #1B1B1B 65%, #000000 99%);
    }
    .banner .banner_header{
        padding: 0;
    }


    .banner .banner_container_items{
        padding-left: 30px;
        display: flex;
        flex-direction: column;
    }
    .banner .banner_container_items .banner_container1{
        width: 100%;
    }
    .banner .banner_container_items .banner_container1 .banner_container_title{
        width: 65%;
    }
    .banner .banner_container_items .banner_container2{
        width: 100%;
    }
    .banner .banner_container_items .banner_container2 img{
        padding: 50px 100px;
    }
    .banner .banner_container_items .banner_container2 .img_top_content{
        top: 670px;
        left: 360px;
    }
    .banner .banner_container_items .banner_container2 .img_bottom_content{
        top: 930px;
        left: 162px;
    }
}












/* habits part */
.habits .habits_header, .team .team_header{
    text-align: center;
    padding: 40px 200px;
}
.habits .habits_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habits .habits_container .habits_box{
    text-align: center;
    width: 200px;
    padding: 0 10px;
}
.habits .habits_container .habits_box img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-bottom: 15px;
    height: 150px;
    width: 150px;
}
.habits .habits_container .habits_box .habits_box_description{
    padding-top: 5px;
}


@media screen and (max-width: 576px) {
    .habits .habits_header, .team .team_header{
        padding: 0;
    }
    .habits .habits_container{
        grid-template-columns: auto;
        justify-content: center;
    }
    .habits .habits_container .habits_box{
        padding: 20px 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px){
    .habits .habits_header{
        padding: 0 100px;
    }
    .habits .habits_container{
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    .habits .habits_container .habits_box{
        padding: 20px 0;
    }
}













/* advertisement part */
.advertisement{
    border-radius: 20px;
    padding: 30px;
    background-color: var(--secondary-shade-color);
    display: flex;
    justify-content: space-between;
}
.advertisement .advertisement_container1{
    width: 40%;
    padding: 10px;
}
.advertisement .advertisement_container1 .advertisement_title{
    font-size: 48px;
}
.advertisement .advertisement_container1 .advertisement_description{
    padding: 30px 0;
    line-height: 25px;
}
.advertisement .advertisement_container2{
    height: 380px;
    width: 420px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.advertisement .advertisement_container2 img{
    position: absolute;
    transform: translate(-48.2%, -20%);
}


@media screen and (max-width: 576px) {
    .advertisement{
        flex-direction: column;
        justify-content: space-between;
    }
    .advertisement .advertisement_container1{
        width: 100%;
        padding: 0;
    }
    .advertisement .advertisement_container1 .advertisement_title{
        font-size: 32px;
        width: 70%;
    }
    .advertisement .advertisement_container1 .advertisement_btn{
        width: 100%;
    }
    .advertisement .advertisement_container2{
        height: 280px;
        width: auto;
        margin-top: 20px;
    }
    .advertisement .advertisement_container2 img{
        transform: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
@media screen  and (min-width: 577px) and (max-width: 992px){
    .advertisement .advertisement_container1 .advertisement_title{
        font-size: 36px;
    }
    .advertisement .advertisement_container2{
        height: 390px;
        width: 300px;
    }
    .advertisement .advertisement_container2 img{
        transform: scale(0.7, 0.8) translate(-70%, -27%);
    }
}










/* training part */
.training .training_header{
    width: 70%;
}
.training .training_container{
    margin-top: 40px;
    display: grid;
    grid-template-areas:
    'item1 item2 item2 item2 item3'
    'item4 item4 item5 item6 item6';
    overflow: hidden;
}
.training .training_container .training_box{
    position: relative;
    height:200px;
    display: flex;
    overflow: hidden;
}
.training .training_container .training_box .training_box_img{
    height: 200px;
    width: 100%;
}
.training .training_container .training_box .training_img_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.align_bottomleft{
    margin-top: 120px;
}
.align_topright{
    margin-left: 180px;
}
.training .training_container .training_box .training_box_description_container{
    position: absolute;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}
.training .training_container .training_box .training_box_description{
    width: 50%;
    color: white;
}
.training .training_container .item1{
    grid-area: item1;
}
.training .training_container .item1 img{
    transform: scale(1.3, 1.2) translateX(7%);
}
.training .training_container .item2{
    grid-area: item2;
}
.training .training_container .item2 img{
    transform: scale(1, 1.4);
}
.training .training_container .item3{
    grid-area: item3;
}
.training .training_container .item3 img{
    transform: scale(1.3, 1.05);
}
.training .training_container .item4{
    grid-area: item4;
}
.training .training_container .item4 img{
    transform: scale(1, 1.2);
}
.training .training_container .item5{
    grid-area: item5;
}
.training .training_container .item5 img{
    transform: scale(1.3, 1.3);
}
.training .training_container .item6{
    grid-area: item6;
}
.training .training_container .item6 img{
    transform: scale(1.1, 1.25);
}
.training .training_container .training_box .description1{
    color: black;
}
.training .training_container .training_box .overlay1{
    background-color: rgba(6, 255, 210, 0.5);
}
.training .training_container .training_box .overlay2{
    background-color: rgba(255, 0, 0, 0.3);
}
.training .training_container .training_box .overlay3{
    background-color: rgba(0, 0, 0, 0.5);
}
.training .training_container .training_box .overlay4{
    background-color: rgba(0, 0, 0, 0.5);
}
.training .training_container .training_box .overlay5{
    background-color: rgba(66, 255, 0, 0.3);
}
.training .training_container .training_box .overlay6{
    background-color: rgba(0, 71, 255, 0.3);
}

@media screen and (max-width: 576px) {
    .training .training_header{
        width: 100%;
    }
    .training .training_header h1{
        width: 60%;
    }
    .training .training_container{
        grid-template-areas:
        'item1 item1 item2 item2 item2'
        'item4 item4 item4 item5 item5';
    }
    .training .training_container .hide{
        display: none;
    }
    .training .training_container .training_box .description1{
        color: white;
    }
    .training .training_container .item4 .align_topright{
        margin-top: 120px;
        margin-left: 0;
    }
    .training .training_container .training_box .training_box_description{
        width: 70%;
    }
    .training .training_container .item1 img{
        transform: scale(1.2, 1.2);
    }
    .training .training_container .item2 img{
        transform: scale(2.8, 2.3) translate(-13%, 12%);
    }
    .training .training_container .item4 img{
        transform: scale(2.3, 1.5) translate(6%, 16%);
    }
    .training .training_container .item5 img{
        transform: scale(1.3, 1.4) translate(-5%, 0);
    }
}

@media screen and (min-width: 577px) and (max-width: 992px){
    .training .training_header{
        width: 100%;
    }
    .training .training_container{
        grid-template-areas:
        'item1 item2 item2 item3 item3'
        'item4 item4 item5 item5 item5 item6';
    }
    .training .training_container .item4 .align_topright{
        margin-top: 70px;
        margin-left: 0;
    }
    .training .training_container .training_box .training_box_description{
        width: 80%;
    }
    .training .training_container .item4 .align_topright{
        margin-top: 120px;
        margin-left: 0;
    }
    .training .training_container .item1 img{
        transform: scale(1.5, 1.1) translate(12%, 2%);
    }
    .training .training_container .item2 img{
        transform: scale(1.9, 1.2) translate(-5%, -8%);
    }
    .training .training_container .item3 img{
        transform: scale(1.85, 1.05) translate(12%, 0);
    }
    .training .training_container .item4 img{
        transform: scale(2, 1.2) translate(15%, -5%);
    }
    .training .training_container .item5 img{
        transform: scale(1.95, 1.3) translate(1.5%, 1%);
    }
    .training .training_container .item6 img{
        transform: scale(1.6, 1.1) translate(13%, 0);
    }
}











/* calculator part */
.calculator .calculator_header{
    margin: 40px 140px;
    padding: 0 200px;
}
.calculator .calculator_container{
    background-color:var(--secondary-shade-color);
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
}
.calculator .calculator_container .calculator_box .calculator_chart_table{
    margin-top: 30px;
    border-collapse: collapse;
}
.calculator .calculator_container .calculator_box .calculator_chart_table td{
    padding: 10px 15px;
    border: 1px solid var(--primary-shade-color);
}
.calculator .calculator_container .calculator_box .calculator_chart_table tbody{
    color: var(--text-shade-color);
}
.calculator .calculator_container .calculator_rightbox{
    width: 55%;
}
.calculator .calculator_container .calculator_rightbox .form_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.calculator .calculator_container .calculator_rightbox .form_container #activity{
    grid-column: 1/3;
}
.calculator .calculator_container .calculator_rightbox .form_container input, select{
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 0 20px;
    background-color: var(--primary-shade-color);
    color: var(--text-shade-color);
}
.calculator .calculator_container .calculator_rightbox .form_container option{
    background-color: var(--primary-shade-color);
    color: var(--text-shade-color);
}


@media screen and (max-width: 576px) {
    .calculator .calculator_header{
        margin: 10px;
        padding: 0;
    }
    .calculator .calculator_container{
        padding: 40px 10px;
        flex-direction: column;
        gap: 60px;
    }
    .calculator .calculator_container .calculator_rightbox{
        width: 80%;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px){
    .calculator .calculator_header{
        margin: 40px 140px;
        padding: 0;
        width: 60%;
    }
    .calculator .calculator_container{
        padding: 40px 10px;
        flex-direction: column;
        gap: 60px;
    }
    .calculator .calculator_container .calculator_box{
        margin: 10px 140px;
    }
    .calculator .calculator_container .calculator_rightbox{
        width: 70%;
    }
}














/* team part */
.team .team_container{
    background-color: var(--primary-shade-color);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.team .team_container .team_container_box{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.team .team_container .team_container_box img{
    height: 230px;
    width: 100%;
}
.team .team_container .team_container_box .team_img_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.team .team_container .team_container_box .team_box_intro{
    position: absolute;
    left: 20px;
    bottom: 18px;
}
.team .team_container .team_container_box .team_box_intro p{
    padding: 0;
}
.team .team_container .team_box1 img{
    transform: scale(1, 1.05);
}
.team .team_container .team_box3 img{
    transform: scale(1, 1.25);
}
.team .team_container .team_box4 img{
    transform: scale(1.5, 1);
}
.team .team_container .team_box5 img{
    transform: scale(1, 1.2);
}

@media screen and (max-width: 576px) {
    .team .team_container{
        grid-template-columns: auto;
        gap: 20px;
    }
    .team .team_container .team_container_box img{
        height: 300px;
    }
    .team .team_container .team_box1, .team_box4{
        display: none;
    }
    .team .team_container .team_box2{
        order: 0;
    }
    .team .team_container .team_box3{
        order: 2;
    }
    .team .team_container .team_box5{
        order: 1;
    }
    .team .team_container .team_box6{
        order: 3;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px){
    .team .team_header{
        padding: 0;
    }
    .team .team_container{
        gap: 20px;
    }
    .team .team_container .team_box1 img{
        transform: scale(1.52, 1);
    }
    .team .team_container .team_box2 img{
        transform: scale(1.6, 1);
    }
    .team .team_container .team_box3 img{
        transform: scale(1.35, 1);
    }
    .team .team_container .team_box4 img{
        transform: scale(2.4, 1);
    }
    .team .team_container .team_box5 img{
        transform: scale(1.38, 1);
    }
    .team .team_container .team_box6 img{
        transform: scale(1.63, 1);
    }
}












/* membership part */
.membership .membership_header{
    width: 70%;
}
.membership .membership_body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
}
.membership .membership_body .membership_container{
    padding: 10px;
    background-color: var(--secondary-shade-color);
}
.membership .membership_body .membership_container .membership_container_header{
    color: var(--secondary-color);
    padding-top: 20px;
    text-align: center;
}
.membership .membership_body .membership_container .membership_container_header .membership_container_description{
    color: var(--secondary-color);
    border-bottom: 2px solid white;
}
.membership .membership_body .membership_container .membership_container_body .membership_popup_icon{
    color: var(--secondary-color);
    font-weight: bold;
}

.membership .membership_popup{
    text-align: center;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.membership .membership_popup:target{
    display: flex;
}
.membership .membership_popup .membership_popup_container{
    position: relative;
}
.membership .membership_popup .membership_popup_container .close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.membership .membership_popup_container h1{
    padding-bottom: 60px;
    color: var(--secondary-color);
}
.membership .membership_popup_container th, td{
    padding: 20px;
}
.membership .membership_popup_container th{
    border-bottom: 5px solid var(--secondary-color);
}

@media screen and (max-width: 576px) {
    .membership .membership_body{
        grid-template-columns: auto;
    }
    .membership .membership_body .membership_container{
        padding: 10px 20px;
    }
    .membership .membership_popup .membership_popup_container{
        width: 95%;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px){
    .membership .membership_header{
        width: 100%;
    }
    .membership .membership_popup .membership_popup_container{
        width: 70%;
    }
}














/* FAQ part */
.faq .faq_header{
    text-align: center;
}
.faq .faq_container .faq_container_box{
    margin: 10px 0;
    padding: 20px;
    background-color: var(--secondary-shade-color);
    border-radius: 10px;
}
.faq .faq_container .faq_container_box .faq_question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq .faq_container .faq_container_box .faq_question .fa-caret-down{
    cursor: pointer;
}
details > summary{
    list-style: none;
}
summary::after {
    transition: transform;
}
details[open] summary i{
    transform: rotate(180deg);
}
@media screen and (max-width: 576px) {

}
@media screen and (min-width: 577px) and (max-width: 992px){

}














/* footer part */
.footer{
    background-color: var(--primary-shade-color);
    padding: 40px 140px 0;
}
.footer .footer_container{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.footer .footer_container .footer_container_items{
    margin-bottom: 40px;
    display: flex;
}
.footer .footer_container .footer_container_items .footer_box_container{
    width: 50%;
    margin-left: 110px;
    display: flex;
    justify-content: space-between;
}
.footer .footer_container .footer_container_items .footer_box_header{
    width: 40%;
}
.footer .footer_container .footer_container_items .footer_box_header .footer_box_title{
    font-size: 75px;
    color: var(--secondary-color);
}
.footer .footer_container .footer_container_items .footer_box h1{
    margin-bottom: 30px;
}
.footer .footer_container .footer_container_items .footer_box li{
    margin: 15px 0;
}
.footer .footer_container .footer_container_items .footer_box li a{
    color: var(--text-shade-color);
    font-size: 24px;
}
.footer hr{
    border-color: var(--primary-shade-color);
}
.footer .footer_container .footer_copyright{
    color: var(--text-shade-color);
    font-size: 20px;
    padding-top: 15px;
}

@media screen and (max-width: 576px) {
    .footer{
        padding: 30px 10px;
    }
    .footer .footer_container{
        justify-content: flex-start;
    }
    .footer .footer_container .footer_container_items{
        display: flex;
        flex-direction: column;
    }
    .footer .footer_container .footer_container_items .footer_box_header{
        width: 85%;
    }
    .footer .footer_container .footer_container_items .footer_box_container{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px){
    .footer{
        padding: 30px;
    }
    .footer .footer_container .footer_container_items{
        display: flex;
        flex-direction: column;
    }
    .footer .footer_container .footer_container_items .footer_box_header{
        width: 60%;
    }
    .footer .footer_container .footer_container_items .footer_box_container{
        display: flex;
        margin: 0;
        width: 65%;
    }
}
















@media screen and (max-width: 576px) {
    /* design for mobile */
    /* common style */
    section{
        margin: 0 10px;
    }
    section h1{
        font-size: 32px;
    }


    /* banner part */


    /* habits part */


    /* training part */


    /* advertisement part */


    /* calculator part */


    /* team part */


    /* footer part */

}

















@media screen and (min-width: 577px) and (max-width: 992px){
    /* design for tablet */
    /* common style */


    /* banner part */


    /* habits part */


    /* training part */


    /* advertisement part */


    /* calculator part */


    /* team part */


    /* footer part */

}