@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Miama';
    src: url('fonts/Miama.ttf') format('truetype');
}


*{
    margin: 0;
    padding: 0;
}
.body_class{
    color: white;
    background-color: black;
    font-family: "Inter", sans-serif;
}




/* common style */
:root{
    --primary-color: white;
    --secondary-color: rgb(230, 83, 60);
    --shade-color:  rgba(255, 255, 255, 0.5);
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--primary-color);
}
section{
    margin: 40px 140px;
}
p{
    font-size: 14px;
    color: var(--shade-color);
    padding: 20px 0;
}
section h1{
    font-size: 48px;
}
.btn{
    width: 200px;
    font-size: 18px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 35px;
    padding: 15px;
    cursor: pointer;
}











/* banner part */
.banner{
    background-image: linear-gradient(to bottom, #121212 10%, #232323 45%, #1B1B1B 65%, #000000 89%);
    /* background-image: linear-gradient(to bottom, #121212, #232323, #000000); */
}
.banner .banner_header{
    padding: 40px 140px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner_header .banner_title{
    color: var(--secondary-color);
}
.banner .banner_header .banner_menubar{
    border: 1px solid black;
    border-radius: 35px;
    padding: 2px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.banner .banner_header .banner_menubar li{
    border-radius: 35px;
    padding: 5px 15px;
}
.banner .banner_header .banner_menubar li:hover{
    background-color: var(--secondary-color);
}
.banner .banner_header .dropdown .dropdown_btn{
    display: none;
}



.banner .banner_container_items{
    padding: 30px 140px;
    display: flex;
    justify-content: space-between;
}
.banner .banner_container_items .banner_container1{
    margin: 50px 0;
    width: 45%;
}
.banner .banner_container_items .banner_container1 .banner_container_title{
    font-size: 70px;
    line-height: 105%;
}
.banner .banner_container_items .banner_container1 .banner_container_title #text_shape{
    font-family: 'Miama', sans-serif;
    font-weight: normal;
    font-size: 135px;
}
.banner .banner_container_items .banner_container1 .banner_description{
    color: var(--shade-color);
    font-size: 16px;
    padding: 20px 0;
}
.banner .banner_container_items .banner_container1 .banner_btn1{
    background-color: var(--secondary-color);
    margin-right: 10px;
}
.banner .banner_container_items .banner_container1 .banner_btn2{
    background-color: black;
    border: 1px solid white;
}


.banner .banner_container_items .banner_container2{
    width: 32%;
}
.banner .banner_container_items .banner_container2 img{
    height: 520px;
}
.banner .banner_container_items .banner_container2 .content_over_img{
    width: 140px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
}
.banner .banner_container_items .banner_container2 .content_over_img p{
    padding: 0;
    color: rgba(255, 255, 255, 0.65);
}
.banner .banner_container_items .banner_container2 .img_bottom_content .circle{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--secondary-color);
    position: relative;
}
.banner .banner_container_items .banner_container2 .img_bottom_content .circle .fa{
    color: var(--primary-color);
    position: absolute;
    top: 22%;
    left: 35%;
}
.banner .banner_container_items .banner_container2 .img_top_content{
    position: absolute;
    top: 220px;
    right: 95px;
}
.banner .banner_container_items .banner_container2 .img_top_content p{
    font-size: 13px;
}
.banner .banner_container_items .banner_container2 .img_bottom_content{
    position: absolute;
    top: 490px;
    right: 370px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}







@media screen and (max-width: 576px) {
    .banner{
        padding: 40px 10px 0;
    }
    .banner .banner_header{
        padding: 0;
    }
    .banner .banner_header .dropdown .dropdown_btn{
        display: inline;
        font-size: 18px;
        background-color: #121212;
        border: none;
    }
    .banner .banner_header .dropdown .dropdown_btn i{
        color: white;
    }
    .banner .banner_header .dropdown .banner_menubar{
        padding: 2px;
        width: 90px;
        flex-direction: column;
        border-radius: 0;
        position: absolute;
        /* display: none; */
    }
    .dropdown:hover .banner_menubar{
        display: block;
        background-color: var(--secondary-color);
        right: 8px;
        text-align: center;
    }


    .banner .banner_container_items{
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .banner .banner_container_items .banner_container1{
        width: 90%;
    }
    .banner .banner_container_items .banner_container1 .banner_container_title{
        font-size: 40px;
        width: 60%;
    }
    .banner .banner_container_items .banner_container1 .banner_description{
        width: 70%;
    }
    .banner .banner_container_items .banner_container1 .banner_container_title #text_shape{
        font-size: 75px;
    }
    .banner .banner_container_items .banner_container1 .banner_btn1 #hide_btn_text{
        display: none;
    }


    .banner .banner_container_items .banner_container2{
        width: 80%;
    }
    .banner .banner_container_items .banner_container2 img{
        padding-left: 30px;
    }
    .banner .banner_container_items .banner_container2 .img_top_content{
        top: 500px;
        right: 170px;
    }
    .banner .banner_container_items .banner_container2 .img_bottom_content{
        top: 700px;
        left: 40px;
    }
}



@media screen and (min-width: 577px) and (max-width: 992px){
    .banner{
        padding: 40px 60px 0;
        background-image: linear-gradient(to bottom, #121212 10%, #232323 45%, #1B1B1B 65%, #000000 99%);
    }
    .banner .banner_header{
        padding: 0;
    }


    .banner .banner_container_items{
        padding-left: 30px;
        display: flex;
        flex-direction: column;
    }
    .banner .banner_container_items .banner_container1{
        width: 100%;
    }
    .banner .banner_container_items .banner_container1 .banner_container_title{
        width: 65%;
    }
    .banner .banner_container_items .banner_container2{
        width: 100%;
    }
    .banner .banner_container_items .banner_container2 img{
        padding: 50px 100px;
    }
    .banner .banner_container_items .banner_container2 .img_top_content{
        top: 670px;
        left: 360px;
    }
    .banner .banner_container_items .banner_container2 .img_bottom_content{
        top: 930px;
        left: 162px;
    }
}












/* habits part */
.habits .habits_header, .team .team_header{
    text-align: center;
    padding: 40px 200px;
}
.habits .habits_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habits .habits_container .habits_box{
    text-align: center;
    width: 200px;
    padding: 0 10px;
}
.habits .habits_container .habits_box img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-bottom: 15px;
    height: 150px;
    width: 150px;
}
.habits .habits_container .habits_box .habits_box_description{
    color: var(--shade-color);
    padding-top: 5px;
}


@media screen and (max-width: 576px) {
    .habits .habits_header{
        padding: 0;
    }
    .habits .habits_container{
        grid-template-columns: auto;
        justify-content: center;
    }
    .habits .habits_container .habits_box{
        padding: 20px 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px){
    .habits .habits_header{
        padding: 0 100px;
    }
    .habits .habits_container{
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    .habits .habits_container .habits_box{
        padding: 20px 0;
    }
}












/* advertisement part */

@media screen and (max-width: 576px) {

}
@media screen and (min-width: 577px) and (max-width: 992px){

}







/* training part */

@media screen and (max-width: 576px) {

}

@media screen and (min-width: 577px) and (max-width: 992px){

}











/* calculator part */

@media screen and (max-width: 576px) {

}

@media screen and (min-width: 577px) and (max-width: 992px){

}









/* team part */

@media screen and (max-width: 576px) {

}

@media screen and (min-width: 577px) and (max-width: 992px){

}








/* footer part */
@media screen and (max-width: 576px) {

}

@media screen and (min-width: 577px) and (max-width: 992px){

}
















@media screen and (max-width: 576px) {
    /* design for mobile */
    /* common style */
    section{
        margin: 0 10px;
    }
    section h1{
        font-size: 32px;
    }


    /* banner part */


    /* habits part */


    /* training part */


    /* advertisement part */


    /* calculator part */


    /* team part */


    /* footer part */

}

















@media screen and (min-width: 577px) and (max-width: 992px){
    /* design for tablet */
    /* common style */


    /* banner part */


    /* habits part */


    /* training part */


    /* advertisement part */


    /* calculator part */


    /* team part */


    /* footer part */

}